<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.company.wizapp">
    <application
        android:name=".app.SAPWizardApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
		<activity
			android:name=".app.WelcomeActivity"
			android:theme="@style/splashScreenTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
            android:name=".app.MainBusinessActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
		<activity
			android:name=".mdui.EntitySetListActivity"
			android:launchMode="singleTop"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:theme="@style/AppTheme.NoActionBar">
		</activity>

		<activity
				android:name=".mdui.customers.CustomersActivity"
				android:configChanges="keyboardHidden|orientation|screenSize"
				android:label="@string/application_name"
				android:launchMode="singleTop"
				android:parentActivityName=".mdui.EntitySetListActivity"
				android:theme="@style/AppTheme.NoActionBar" >
				<meta-data
					android:name="android.support.PARENT_ACTIVITY"
					android:value=".mdui.EntitySetListActivity" />
		</activity>
		<activity
				android:name=".mdui.productcategories.ProductCategoriesActivity"
				android:configChanges="keyboardHidden|orientation|screenSize"
				android:label="@string/application_name"
				android:launchMode="singleTop"
				android:parentActivityName=".mdui.EntitySetListActivity"
				android:theme="@style/AppTheme.NoActionBar" >
				<meta-data
					android:name="android.support.PARENT_ACTIVITY"
					android:value=".mdui.EntitySetListActivity" />
		</activity>
		<activity
				android:name=".mdui.producttexts.ProductTextsActivity"
				android:configChanges="keyboardHidden|orientation|screenSize"
				android:label="@string/application_name"
				android:launchMode="singleTop"
				android:parentActivityName=".mdui.EntitySetListActivity"
				android:theme="@style/AppTheme.NoActionBar" >
				<meta-data
					android:name="android.support.PARENT_ACTIVITY"
					android:value=".mdui.EntitySetListActivity" />
		</activity>
		<activity
				android:name=".mdui.products.ProductsActivity"
				android:configChanges="keyboardHidden|orientation|screenSize"
				android:label="@string/application_name"
				android:launchMode="singleTop"
				android:parentActivityName=".mdui.EntitySetListActivity"
				android:theme="@style/AppTheme.NoActionBar" >
				<meta-data
					android:name="android.support.PARENT_ACTIVITY"
					android:value=".mdui.EntitySetListActivity" />
		</activity>
		<activity
				android:name=".mdui.purchaseorderheaders.PurchaseOrderHeadersActivity"
				android:configChanges="keyboardHidden|orientation|screenSize"
				android:label="@string/application_name"
				android:launchMode="singleTop"
				android:parentActivityName=".mdui.EntitySetListActivity"
				android:theme="@style/AppTheme.NoActionBar" >
				<meta-data
					android:name="android.support.PARENT_ACTIVITY"
					android:value=".mdui.EntitySetListActivity" />
		</activity>
		<activity
				android:name=".mdui.purchaseorderitems.PurchaseOrderItemsActivity"
				android:configChanges="keyboardHidden|orientation|screenSize"
				android:label="@string/application_name"
				android:launchMode="singleTop"
				android:parentActivityName=".mdui.EntitySetListActivity"
				android:theme="@style/AppTheme.NoActionBar" >
				<meta-data
					android:name="android.support.PARENT_ACTIVITY"
					android:value=".mdui.EntitySetListActivity" />
		</activity>
		<activity
				android:name=".mdui.salesorderheaders.SalesOrderHeadersActivity"
				android:configChanges="keyboardHidden|orientation|screenSize"
				android:label="@string/application_name"
				android:launchMode="singleTop"
				android:parentActivityName=".mdui.EntitySetListActivity"
				android:theme="@style/AppTheme.NoActionBar" >
				<meta-data
					android:name="android.support.PARENT_ACTIVITY"
					android:value=".mdui.EntitySetListActivity" />
		</activity>
		<activity
				android:name=".mdui.salesorderitems.SalesOrderItemsActivity"
				android:configChanges="keyboardHidden|orientation|screenSize"
				android:label="@string/application_name"
				android:launchMode="singleTop"
				android:parentActivityName=".mdui.EntitySetListActivity"
				android:theme="@style/AppTheme.NoActionBar" >
				<meta-data
					android:name="android.support.PARENT_ACTIVITY"
					android:value=".mdui.EntitySetListActivity" />
		</activity>
		<activity
				android:name=".mdui.stock.StockActivity"
				android:configChanges="keyboardHidden|orientation|screenSize"
				android:label="@string/application_name"
				android:launchMode="singleTop"
				android:parentActivityName=".mdui.EntitySetListActivity"
				android:theme="@style/AppTheme.NoActionBar" >
				<meta-data
					android:name="android.support.PARENT_ACTIVITY"
					android:value=".mdui.EntitySetListActivity" />
		</activity>
		<activity
				android:name=".mdui.suppliers.SuppliersActivity"
				android:configChanges="keyboardHidden|orientation|screenSize"
				android:label="@string/application_name"
				android:launchMode="singleTop"
				android:parentActivityName=".mdui.EntitySetListActivity"
				android:theme="@style/AppTheme.NoActionBar" >
				<meta-data
					android:name="android.support.PARENT_ACTIVITY"
					android:value=".mdui.EntitySetListActivity" />
		</activity>

        <activity
			android:name=".mdui.SettingsActivity"
			android:parentActivityName=".mdui.EntitySetListActivity"
			android:launchMode="singleTop"
			android:label="@string/settings_activity_name"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:screenOrientation="sensor"
		    android:theme="@style/AppTheme.NoActionBar" >
		</activity>


        <activity
            android:name="com.sap.cloud.mobile.foundation.authentication.OtpResponseActivity"
            tools:node="replace">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="com.sap.wizapp.xcallbackurl" />
            </intent-filter>
        </activity>
	</application>
</manifest>